h1
{
	color:  purple;
}

body
{
	background-image: url("https://yt3.ggpht.com/-ejYQgbDfXhI/AAAAAAAAAAI/AAAAAAAAAAA/yk-Pvyc2dW0/s128-c-k-no-mo-rj-c0xffffff/photo.jpg");
}

#centre
{
	width: 825px;
	margin: 0 auto;
	background-color: white;
	text-align: center;
	align-content: center;
}
